
@import url(https://fonts.googleapis.com/css?family=Heebo);



h1 {
	color: orange;
	text-align: center;
	font-family: 'Heebo', sans-serif;
	font-size: 45px;
	font-weight: medium;

}

h2 {
	color: orange;
	text-align: center;
	font-family: 'Heebo', sans-serif;
	font-weight: thin;
	font-style: italic;
}


.container {
    position: relative;
    text-align: center;
    color: orange;
    margin-top: 100px;
}

.slogan {
	padding-top: 160px;
}

.button {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 35px 10px 35px;
    text-align: center;
    font-family: 'Heebo', sans-serif;
	font-size: 14px;
	font-weight: medium;
    display: inline-block;
}

#wrapper {
	background-color: #FFFAF0;
	width: 960px;
	margin: 0 auto;
}


hr{
	width: 600px;
	height: 0.3px;
	margin: .5cm 6cm 0cm 4cm;
	color-rendering: orange;
	border-color: orange;
	background-color: orange;
}

h3 {
	color: orange;
	text-align: left;
	font-family: 'Heebo', sans-serif;
	font-size: 18px;
	font-weight: thin;
	margin: .5cm 6cm 0cm 4cm;
}

p{
	text-align: left;
	font-family: 'Heebo', sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: lighter;
	margin: .5cm 6cm 0cm 4cm;
}

ul {
text-align: center;
list-style-type: none;
}

li {
	line-height: 25px;
	text-align: left;
	font-family: 'Heebo', sans-serif;
	font-size: 14px;
	font-weight: lighter;
	margin: .5cm 6cm 0cm 4cm;
}

body {
	background-image: url('../images/ca_building.jpg');
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;

}
body:after {
	background:rgba(0, 0, 0, 0.75);
}

